<!-- BEGIN HEADER -->
<%include widget/header%>
<!-- END HEADER -->



<!--BEGIN LOAD PAGE LEVEL CSS STYLE-->
<link href="/css/pages/index.css" rel="stylesheet" media="screen">
<!--END LOAD PAGE LEVEL CSS STYLE-->

<!-- BEGIN PAGE CONTAINER -->
<div class="page-container">
    <div class="page-content">
        <!-- BEGIN PAGE CONTENT -->
        <div class="container">
            <div class="dehum-content-title ">全站运行工况</div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-lg-4 col-md-4">
                    <div class="dehum-content-subtitle dehum-div-border">
                        <span>在线台数/总台数</span>
                        <span class="dehum-content-subtitle-value"><%- summaryData.total_valid%>/<%- summaryData.total%></span>
                    </div>
                    <div class="dehum-div-border text-center">
                        <div id="div_chart_1" style="height:150px; width: 100%;">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="dehum-content-subtitle dehum-div-border">
                        <span>工作台数/总台数</span>
                        <span class="dehum-content-subtitle-value"><%- summaryData.total_working%>/<%- summaryData.total%></span>
                    </div>
                    <div class="dehum-div-border">
                        <div id="div_chart_2" style="height:150px; width: 100%;">

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="dehum-content-subtitle dehum-div-border" style="min-height: 180px;">
                        <span>今日报警数量</span>
                        <span class="dehum-content-subtitle-value" id="span_alarm_today">
                            <a href="#">
                                <%- summaryData.cnt_alarms%>
                            </a>
                        </span>
                        <br>
                        <br>
                        <% if( !(summaryData.wsd_lasttime_duration && summaryData.wsd_lasttime_duration <= 3)) {%>
                            <span style="color: red">数据采集程序异常！</span>
                            <br>
                            <span style="color: red">最后采集时间：<%- summaryData.wsd_lasttime ? moment(summaryData.wsd_lasttime).format('YYYY-MM-DD HH:mm') : '无'%></span>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-lg-6 col-md-6">
                    <div class="dehum-content-subtitle dehum-div-border">全站除湿时间/用电</div>
                    <div class="dehum-div-border">
                        <div id="div_chart_3" style="height:350px; width: 100%;">

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="dehum-content-subtitle dehum-div-border">全站加热时间/用电</div>
                    <div class="dehum-div-border">
                        <div id="div_chart_4" style="height:350px; width: 100%;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT -->
    </div>
</div>
<!-- END PAGE CONTAINER -->



<!-- BEGIN FOOTER -->
<%include widget/footer%>
<!-- END FOOTER -->


<script>
    // 这儿偷懒一下，把后端传过来的对象直接赋值给js对象
    let summaryData = JSON.parse('<%-JSON.stringify(summaryData)%>')


    function drawChart1(){
        let chart1 = echarts.init(document.getElementById('div_chart_1'), 'dark');
        chart1.showLoading({
            text: '数据正在加载...',
            textStyle: { fontSize : 30 , color: '#444' },
            effectOption: {backgroundColor: 'rgba(0, 0, 0, 0)'}
        });

        let option1 = {
            tooltip: {
                trigger: 'item',
                formatter: '{b}: {c} ({d}%)'
            },
            legend: {
                orient: 'vertical',
                left: 10,
                data: ['在线台数', '下线台数']
            },
            series: [
                {
                    name: '除湿机数量',
                    type: 'pie',
                    radius: ['50%', '70%'],
                    emphasis: {
                        label: {
                            show: true,
                            fontSize: '16',
                            fontWeight: 'bold'
                        }
                    },
                    label: {
                        show: false ,
                        position: 'center'
                    },
                    data: [
                        {value: summaryData.total_valid, name: '在线台数'},
                        {value: summaryData.total-summaryData.total_valid, name: '下线台数'}
                    ]
                }
            ]
        }
        chart1.setOption(option1, true)
        chart1.hideLoading()
    }

    function drawChart2(){
        let chart2 = echarts.init(document.getElementById('div_chart_2'), 'dark');
        chart2.showLoading({
            text: '数据正在加载...',
            textStyle: { fontSize : 30 , color: '#444' },
            effectOption: {backgroundColor: 'rgba(0, 0, 0, 0)'}
        });

        let option2 = {
            tooltip: {
                trigger: 'item',
                formatter: '{b}: {c} ({d}%)'
            },
            legend: {
                orient: 'vertical',
                left: 10,
                data: ['工作台数', '待机台数']
            },
            series: [
                {
                    name: '除湿机数量',
                    type: 'pie',
                    radius: ['50%', '70%'],
                    emphasis: {
                        label: {
                            show: true,
                            fontSize: '16',
                            fontWeight: 'bold'
                        }
                    },
                    label: {
                        show: false ,
                        position: 'center'
                    },
                    data: [
                        {value: summaryData.total_working, name: '工作台数'},
                        {value: summaryData.total-summaryData.total_working, name: '待机台数'}
                    ]
                }
            ]
        }
        chart2.setOption(option2, true)
        chart2.hideLoading()
    }

    function drawCharUsage(){
        let calDt = []
        let dehumTime = []
        let dehumWH = []
        let heatTime = []
        let heatWH = []

        let chart3 = echarts.init(document.getElementById('div_chart_3'), 'dark');
        let chart4 = echarts.init(document.getElementById('div_chart_4'), 'dark');
        chart3.showLoading({
            text: '数据正在加载...',
            textStyle: { fontSize : 30 , color: '#444' },
            effectOption: {backgroundColor: 'rgba(0, 0, 0, 0)'}
        });
        chart4.showLoading({
            text: '数据正在加载...',
            textStyle: { fontSize : 30 , color: '#444' },
            effectOption: {backgroundColor: 'rgba(0, 0, 0, 0)'}
        });
        let option3 = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    crossStyle: {
                        color: '#999'
                    }
                }
            },
            legend: {
                data: ['除湿时间', '除湿用电']
            },
            xAxis: [
                {
                    type: 'category',
                    data: calDt,
                    axisPointer: {
                        type: 'shadow'
                    }
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    name: '时长',
                    min: 0,
                    max: 1200,
                    interval: 200,
                    axisLabel: {
                        formatter: '{value} s'
                    }
                },
                {
                    type: 'value',
                    name: '电量',
                    min: 0,
                    max: 1200,
                    interval: 200,
                    axisLabel: {
                        formatter: '{value} Wh'
                    }
                }
            ],
            series: [
                {
                    name: '除湿时间',
                    type: 'bar',
                    data: dehumTime
                },
                {
                    name: '除湿用电',
                    type: 'line',
                    yAxisIndex: 1,
                    data: dehumWH
                }
            ],
            toolbox: {
                show : true,//是否显示工具栏组件
                orient: 'horizontal',//工具栏icon的布局朝向
                x: 'right',
                y: 'top',
                color : ['#1e90ff','#22bb22','#4b0082','#d2691e'],
                backgroundColor: 'rgba(0,0,0,0)', // 工具箱背景颜色
                borderColor: '#ccc',       // 工具箱边框颜色
                borderWidth: 0,            // 工具箱边框线宽，单位px，默认为0（无边框）
                padding: [5, 5, 0, 0],                // 工具箱内边距，单位px，默认各方向内边距为5，
                showTitle: true,//是否在鼠标hover时显示每个工具icon标题
                feature : {
                    dataView : {
                        show : true,
                        title : '数据视图',
                        readOnly: true,
                        lang : ['数据视图', '关闭', '刷新'],
                        optionToContent: function(opt) {
                            var axisData = opt.xAxis[0].data;
                            var series = opt.series;
                            var table = '<table border=1 style="width:100%;text-align:center;color:black;"><tbody><tr>'
                                + '<td>时间</td>';
                            for (var i=0; i<series.length; i++)
                            {

                                table += '<td>' + series[i].name + '</td>';
                            }
                            table += '</tr>';
                            for (var i=0; i<axisData.length; i++)
                            {
                                if(i < series[0].data.length)
                                {
                                    table += '<tr>' + '<td>' + axisData[i] + '</td>';
                                    for(var j=0; j<series.length; j++)
                                    {
                                        var val = series[j].data[i];
                                        if(val != '-')
                                        {
                                            var v = new Number(val);
                                            val = v.toFixed(2);
                                        }
                                        table += '<td>' + val + '</td>';
                                    }
                                    table += '</tr>';
                                }
                            }
                            table += '</tbody></table>';
                            var str = "<div style='overflow:auto;width:100%;height:100%;'>" + table + "</div>";
                            return str;
                        }
                    }
                }
            }
        }

        let option4 = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    crossStyle: {
                        color: '#999'
                    }
                }
            },
            legend: {
                data: ['加热时间', '加热用电']
            },
            xAxis: [
                {
                    type: 'category',
                    data: calDt,
                    axisPointer: {
                        type: 'shadow'
                    }
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    name: '时长',
                    min: 0,
                    max: 900,
                    interval: 150,
                    axisLabel: {
                        formatter: '{value} s'
                    }
                },
                {
                    type: 'value',
                    name: '电量',
                    min: 0,
                    max: 900,
                    interval: 150,
                    axisLabel: {
                        formatter: '{value} WH'
                    }
                }
            ],
            series: [
                {
                    name: '加热时间',
                    type: 'bar',
                    data: heatTime
                },
                {
                    name: '加热用电',
                    type: 'line',
                    yAxisIndex: 1,
                    data: heatWH
                }
            ],
            toolbox: {
                show : true,//是否显示工具栏组件
                orient: 'horizontal',//工具栏icon的布局朝向
                x: 'right',
                y: 'top',
                color : ['#1e90ff','#22bb22','#4b0082','#d2691e'],
                backgroundColor: 'rgba(0,0,0,0)', // 工具箱背景颜色
                borderColor: '#ccc',       // 工具箱边框颜色
                borderWidth: 0,            // 工具箱边框线宽，单位px，默认为0（无边框）
                padding: [5, 5, 0, 0],                // 工具箱内边距，单位px，默认各方向内边距为5，
                showTitle: true,//是否在鼠标hover时显示每个工具icon标题
                feature : {
                    dataView : {
                        show : true,
                        title : '数据视图',
                        readOnly: true,
                        lang : ['数据视图', '关闭', '刷新'],
                        optionToContent: function(opt) {
                            var axisData = opt.xAxis[0].data;
                            var series = opt.series;
                            var table = '<table border=1 style="width:100%;text-align:center;color:black;"><tbody><tr>'
                                + '<td>时间</td>';
                            for (var i=0; i<series.length; i++)
                            {

                                table += '<td>' + series[i].name + '</td>';
                            }
                            table += '</tr>';
                            for (var i=0; i<axisData.length; i++)
                            {
                                if(i < series[0].data.length)
                                {
                                    table += '<tr>' + '<td>' + axisData[i] + '</td>';
                                    for(var j=0; j<series.length; j++)
                                    {
                                        var val = series[j].data[i];
                                        if(val != '-')
                                        {
                                            var v = new Number(val);
                                            val = v.toFixed(2);
                                        }
                                        table += '<td>' + val + '</td>';
                                    }
                                    table += '</tr>';
                                }
                            }
                            table += '</tbody></table>';
                            var str = "<div style='overflow:auto;width:100%;height:100%;'>" + table + "</div>";
                            return str;
                        }
                    }
                }
            }
        }

        $.getJSON('/ajax/summaryUsage', function(data){
            let chartData = data.data
            for(var i in chartData){
                calDt.push(moment(chartData[i].cal_dt).format('YYYY-MM-DD'))
                dehumTime.push(chartData[i].dehum_total_time)
                dehumWH.push(chartData[i].dehum_total_wh)
                heatTime.push(chartData[i].heat_total_time)
                heatWH.push(chartData[i].heat_total_wh)
            }

            //重新计算X/Y轴的最大最小值
            var maxDehumTime = Math.max.apply(null, dehumTime.concat(1200))
            var maxDehumTimeY = Math.ceil(maxDehumTime/600)*600
            var intervalDehumTimeY = maxDehumTimeY/6
            option3.yAxis[0].max = maxDehumTimeY
            option3.yAxis[0].interval = intervalDehumTimeY

            var maxDehumWh = Math.max.apply(null, dehumWH.concat(1200))
            var maxDehumWhY = Math.ceil(maxDehumWh/600)*600
            var intervalDehumWhY = maxDehumWhY/6
            option3.yAxis[1].max = maxDehumWhY
            option3.yAxis[1].interval = intervalDehumWhY

            var maxHeatTime = Math.max.apply(null, heatTime.concat(1200))
            var maxHeatTimeY = Math.ceil(maxHeatTime/600)*600
            var intervalHeatTimeY = maxHeatTimeY/6
            option4.yAxis[0].max = maxHeatTimeY
            option4.yAxis[0].interval = intervalHeatTimeY

            var maxHeatWh = Math.max.apply(null, heatWH.concat(1200))
            var maxHeatWhY = Math.ceil(maxHeatWh/600)*600
            var intervalHeatWhY = maxHeatWhY/6
            option4.yAxis[1].max = maxHeatWhY
            option4.yAxis[1].interval = intervalHeatWhY


            chart3.setOption(option3, true)
            chart3.hideLoading()
            chart4.setOption(option4, true)
            chart4.hideLoading()
        })

    }

    function initPage(){
        drawChart1()
        drawChart2()
        drawCharUsage()

        let beginDate = moment(new Date()).format("YYYY-MM-DD")
        let endDate = moment(new Date()).format("YYYY-MM-DD")
        strHref = "alarms?beginDate="+beginDate+"&endDate="+endDate
        // alert(strHref)
        $('#span_alarm_today a').attr("href", strHref)

    }

    $(document).ready(initPage)
</script>


</body>
<!-- END BODY -->
</html>